# Node / npm workspaces
node_modules/
npm-debug.log
yarn-error.log

# Build output
dist/
out-tsc/

# Angular
**/.angular/
coverage/

# IDEs and editors
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# System files
.DS_Store
Thumbs.db

# references
rebel-rom
rebel-rom/